<div id="om-customer-account-editor"></div>

{% schema %}
{
  "name": "Customer Account Editor",
  "target": "section",
  "enabled_on": {
    "templates": ["customers/account"]
  }
}
{% endschema %}
    