<link rel="stylesheet" href="/apps/om-profile-editor/profile-editor/main.css">
<div id="orangemantra-profile-editor-app"></div>
<script type="module" src="/apps/om-profile-editor/profile-editor/main.js" defer></script>

{% schema %}
{
  "name": "Profile Editor",
  "target": "body",
  "settings": []
}
{% endschema %}
