<link rel="stylesheet" href="/apps/wishlist/profile-editor/main.css">
<div id="wishlist-app"></div>
<script type="module" src="/apps/wishlist/profile-editor/main.js" defer></script>

{% schema %}
{
  "name": "Profile Editor",
  "target": "body",
  "settings": []
}
{% endschema %}
